# Below is for ANDROID EMULATOR connecting to local backend - need to use this for development
EXPO_PUBLIC_MOBILE_API_BASE_URL=http://10.0.2.2:3000/api/mobile
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
